<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <a href=""><img src="cyber_face.png"></a>
    <ul>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
      <li><a href="{{ site.baseurl }}/">Posts</a></li>
    </ul>
  </div>
</nav>
